* {
    margin: 0;
    padding: 0;
}

.app {
    background-image: url("https://newseu.cgtn.com/news/2020-10-10/Central-banks-take-a-step-closer-to-digital-currencies-Usr5pMCMJG/img/516016e6051f4f0aa8a47b0b259caa37/516016e6051f4f0aa8a47b0b259caa37.jpeg");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}
